[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-allauth = "*"
pillow = "*"
stripe = "*"
django-debug-toolbar = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.8"
